<!DOCTYPE html>
<html lang="en">
<head>
    <title>Raspberry-Distribute-Compute</title>
    <link rel="stylesheet" href="rdc.css">
    <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="//cdn.bootcss.com/easy-pie-chart/2.1.6/jquery.easypiechart.min.js"></script>
    <script src="rdc.js"></script>
</head>


<body>

    <div>
        <p id="p0"> Jinja2 works!</p>
        <p id=>WebSocket works!  <span id="ws"></span></p>
    </div>

    <span class="chart" data-percent="72"><span class="percent" id="percent1">73</span></span>

    <script>
    </script>
</body>
</html>