<!DOCTYPE html>
<html lang="en">
<head>
    <title>Raspberry-Distribute-Compute</title>
    <link rel="stylesheet" href="">
    <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/easy-pie-chart/2.1.6/jquery.easypiechart.min.js"></script>
    <script src="rdc.js"></script>
</head>


<body>


    <p id="p0"> Jinja2 works!</p>
    <p id=>WebSocket works!  <span id="ws"></span></p>
    <script>
        tsss()
    </script>
</body>
</html>