<!DOCTYPE html>
<html lang="en">
<head>
    <title>Raspberry-Distribute-Compute</title>

    <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="//cdn.bootcss.com/easy-pie-chart/2.1.6/jquery.easypiechart.min.js"></script>
    <script src="//cdn.bootcss.com/semantic-ui/2.2.2/semantic.min.js"></script>

    <link href="//cdn.bootcss.com/semantic-ui/2.2.2/semantic.min.css" rel="stylesheet">
    <link rel="stylesheet" href="rdc.css">

</head>


<body>
    <div class="ui main container">
{#        <div>#}
{#            <p id="p0"> Jinja2 works!</p>#}
{#            <p id=>WebSocket works!  <span id="ws"></span></p>#}
{#        </div>#}
        <div class="ui two column centered grid">
            <div class="row">
                <div class = "column">
                    <div class="ui divided selection list">
                        <a class="item">
                        <div class="ui red horizontal huge label">每秒迭代次数</div>
                        Kumquats
                        </a>
                        <a class="item">
                        <div class="ui purple horizontal huge label">Rss</div>
                        Ice Cream
                        </a>

                    </div>
                </div>
            </div>
            <div class="column row">

                <div class="chart" data-percent="72" id="localhost"><span class="percent" id="percent1">73</span>
                    <div class="label">localhost</div>
                </div>
            </div>
            <div class="column row">
                <div class="chart" data-percent="72" id="node1"><span class="percent" id="percent2">73</span></div>
                <div class="chart" data-percent="72" id="node2"><span class="percent" id="percent3">73</span></div>
            </div>
        </div>
    </div>

{#    <form action="/upload" method="post" accept-charset="utf-8"#}
{#      enctype="multipart/form-data">#}
{##}
{#        <label for="image">Image</label>#}
{#        <input id="image" name="image" type="file" value="" />#}
{##}
{#        <input type="submit" value="submit" />#}
{#    </form>#}
{##}
{#    <div class="main ui container">#}
{#        <div class="ui special cards">#}
{#            <div class="card">#}
{#                <div class="blurring dimmable image">#}
{#                    <div class="ui dimmer">#}
{#                        <div class="content">#}
{#                            <div class="center">#}
{#                                <div class="ui inverted button">Add Friend</div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <img src="http://semantic-ui.com/images/wireframe/image.png">#}
{##}
{##}
{#                </div>#}
{#                <div class="content">#}
{#                  <a class="header">Team Fu</a>#}
{#                  <div class="meta">#}
{#                    <span class="date">Create in Sep 2014</span>#}
{#                  </div>#}
{#                </div>#}
{#                <div class="extra content">#}
{#                  <a>#}
{#                    <i class="users icon"></i>#}
{#                    2 Members#}
{#                  </a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}


     <script src="rdc.js"></script>

</body>
</html>